/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
    padding-top: 50px;
    background-color: black;
}

main{
    height: calc(100vh - 130px);
    background-color: aqua;
    overflow-y: auto;
}

.container{
    max-width: 1700px;
    margin: 30px auto;
    padding: 20px 0;
     
}

/*Header*/
header{
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: yellow;
}

footer{
    height: 80px;
    width: 100%;
    background-color: brown;
    
}
/*
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column{
    flex-basis: calc(100% / 4);
    
}
*/