/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
    padding-top: 50px;
    background-color: black;
}

main{
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.container{
    max-width: 1700px;
    margin: 30px auto;
    padding: 20px 0;
    background-color: aqua; 
    height: 800px;
}

/*Header*/
header{
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: yellow;
    flex-shrink: 0;
}

footer{
    height: 80px;
    width: 100%;
    background-color: brown;
    flex-shrink: 0;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex-basis: calc(100% / 7); 
    border: 2px solid black;
    background-color: white;
    height: 200px;
}
